:root {
  --orange-color: #ff702d; 
  --green-color: #117d5d; 
  --darkgreen-color: #007d6f; 
  --lightgreen-color: #71b9b4; 
  --background-color: #F8F1F1; 



 
}
.adminPanelParent{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    background-color: #262626;
}



.coursesParent {
  max-width: 850px;
  width: 830px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 5px;
  }
  .coursesParent>h1{
    text-align: center;
  }
  
  /* Styles for the courses and create new course button container */
  .coursesAndPlusBtn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  /* Styles for the individual course container */
  .courseDiv {
    display: flex;
    width: calc(46% - 10px);
    padding: 10px;
    margin-bottom: 20px;
    height: 200px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
  }
  

.courseDiv:hover{
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
    cursor: pointer;
}
  /* Styles for the course name */
  .courseDiv h4:first-child {
    margin-top: 0;
    font-weight: bold;
    font-size: 22px;
  }
  .courseDiv h4 span:first-child {
    
    font-weight: bold;
  }
  /* Styles for the course hours and brief */
  .courseDiv h4:not(:first-child) {
    margin: 10px 0;
    font-size: 16px;
  }
  .bold{
    font-weight: bolder;
  }
  .notBold{
    font-weight: 500;
  }
  .courseNamea{
    color: var(--orange-color);
  }
  /* Styles for the create new course button */
  .plusBtn {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background-color: var(--orange-color);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Styles for the create new course button hover state */
  .plusBtn:hover {
    background-color: #ff702db0;
  }
  
  .AllContCoursesAndCreateQuiz{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
  }
  .allSkillsDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    gap: 20px;
    border: 1px solid var(--background-color);
    padding: 20px;
    background-color: var(--background-color);
  }
  .allSkillsDiv h2{
    text-align: center;
  }
  .select-field-skillInAdminPanel{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: var(--orange-color);
    font-size: 16px;
    /* margin-bottom: 10px; */
    transition: all 0.3s ease-in-out;
  }

  .allSkillsDiv button{
    border: 1px solid var(--orange-color);
    color: var(--orange-color);
    background-color: transparent;
    padding: 10px;
  }
  .allSkillsDiv button:hover{
    background-color: var(--orange-color);
    color: white;
  }