:root {
  --orange-color: #ff702d; 
  --green-color: #117d5d; 
  --darkgreen-color: #007d6f; 
  --lightgreen-color: #71b9b4; 
  --background-color: #F8F1F1; 



 
}
.adminPanelParent{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    background-color: #262626;
}



.coursesParent {
       /* max-width: 1104px; */
       max-width: 1200px;
       margin: 0px 50px;
       padding: 20px;
       background-color: var(--background-color);
       border-radius: 5px;
  }
  .coursesParent>h1{
    text-align: center;
  }
  
  /* Styles for the courses and create new course button container */
  .coursesAndPlusBtn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 50px;
  }
  
  /* Styles for the individual course container */
  .courseDiv {
    display: flex;
    width: 325px;
    padding: 10px;
    margin-bottom: 20px;
    height: 200px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    justify-content: space-evenly;
    /* gap: 5px; */
    align-items: center;
  }
  

.courseDiv:hover{
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
    cursor: pointer;
}
  /* Styles for the course name */
  .courseDiv h4:first-child {
    font-weight: bold;
    font-size: 22px;
  }
  .courseDiv h4 span:first-child {
    
    font-weight: bold;
  }
  /* Styles for the course hours and brief */
  .courseDiv h4:not(:first-child) {
    font-size: 16px;
  }
  .bold{
    font-weight: bolder;
  }
  .notBold{
    font-weight: 500;
  }
  .courseNamea{
    color: var(--darkgreen-color);
  }
  /* Styles for the create new course button */
  .plusBtn {
    position: relative;
    /* width: 100%; */
    padding: 10px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    border-radius: 5px;
    cursor: pointer;
    transition:transform  0.3s ;
    background-color: var(--darkgreen-color);


  }
  
  /* Styles for the create new course button hover state */
  .plusBtn:hover {
    color: white;
    /* animation: moveUp 0.3s forwards; */
    transform: translateY(-4px);
    box-shadow: 0 2px 32px 0 rgb(20, 125, 20);
  }
  
  @keyframes moveUp {
    0% {
      top: 0;
    }
    100% {
      top: -5px; /* Adjust this value to control the amount of upward movement */
    }
    
  
  }
  
  
  
  
  .AllContCoursesAndCreateQuiz{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
  }
  .allSkillsDiv{
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 250px;
    justify-content: space-between;
    border: 1px solid var(--background-color);
    padding: 20px;
    background-color: var(--background-color);
  }
  .allSkillsDiv h2{
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;  }
  .select-field-skillInAdminPanel{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: var(--green-color);
    font-size: 16px;
    /* margin-bottom: 10px; */
    transition: all 0.3s ease-in-out;
  }

  /* .allSkillsDiv button{
    border: 1px solid var(--orange-color);
    color: var(--orange-color);
    background-color: transparent;
    padding: 10px;
  }
  .allSkillsDiv button:hover{
    background-color: var(--orange-color);
    color: white;
  } */
  .ContSpecialities div p{
    font-weight: 700;
    font-size: 18px;
    color: var(--darkgreen-color);  }
  .ContTopicAndSpeciality{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
  }
 
  .ContSpecialities{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: auto;
  }
  
.ContainerAllIdeas{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
  .AllIdeas{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
.CardInAllIdeas{
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  width: 20%;
  border-radius: 10px;
  transition: transform 0.3s ease;
  gap: 30px;
  justify-content: space-between;
  border-top: 15px solid var(--darkgreen-color) !important;
  border: 1px solid var(--darkgreen-color);
} 
.CardInAllIdeas:hover{
  transform: translateY(-10px); /* Adjust this value to control the amount of upward movement */
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}

.containerSpansData{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.ContainerbtnData{
  display: flex;
  gap: 10px;
  justify-content: center;
}
.CardInAllIdeas h2{
  width: 100%;
  text-align: center;
}