.courseForStudentContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    background-color: black;
}

.courseForStudentContent{
      display: flex;
    width: 100%;
    margin-top: 88px;

}

.courseForStudentVideoDiv{
    width: 70%;
}

.videosNames{
       /* margin-top: 50px; */
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    /* row-gap: 10px; */
}
.videosNames>span{
    font-size: 22px;
    /* border-radius: 10px; */
    
}