.courseParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(9, 14, 52);
  color: white;
  min-height: 100vh;
}

.LeftRight {
  row-gap: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1500px;
  margin-top: 60px;
  align-items: center;
}
.LeftInfo {
  width: 90%;
  max-width: 1000px;
  border: 1px solid white;
  padding: 12px;
}
.RightVideo {
  width: 90%;
  max-width: 1000px;
  display: flex;
  border: 1px solid white;
  padding: 12px;
  justify-content: space-evenly;
}
/* .RightVideo>video{
    width: 100%;
} */
.headInfo {
  font-weight: bold;
}
.BottomRightInfo {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.BottomRightInfo > p {
  margin: 0;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.LeftInfo > button {
  font-size: 20px;
  font-weight: bold;
  /* padding: 8px; */
  width: 200px;
  height: 60px;
  /* background-color: #2a3393; */
  background-color: transparent;
  color: white;

  border-radius: 5px;
  border: 1px solid white;
}
.LeftInfo > button:hover {
  background-color: #fff;
  color: black;
}

.courseDetailesVideoDiv {
  width: 50%;
}

.courseDetailsCourseContentDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid white;
  width: 90%;
  padding: 12px;
  max-width: 1000px;
  margin-bottom: 20px;
}
.courseDetailsCourseContentDiv > h1 {
  margin: 10px 0 10px 0px;
  padding-left: 10px;
}
.courseDetailsSectionsContainer > h3 {
  cursor: pointer;
}
.LinkVideoSection {
  color: white;
  padding: 5px;
  transition: all 0.3s ease;
}
.LinkVideoSection:hover {
  /* background-color: #d1d7dc; */
  padding: 10px;
}

.courseDetailsSectionVideos {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  display: flex;
  padding-left: 25px;
}
.courseDetailsSectionVideos > a {
  text-decoration: none;
  font-size: 20px;
  width: 95%;
}
.Video {
  width: 100%;
  height: 100%;
}
.courseDetailsSectionsContainer > h3 {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin: 7px 15px;
}

.courseDetailsSectionsContainer {
  border-top: 1px solid #d1d7dc;
}

.ContSections {
  width: 100%;
}
.courseDetailsSectionVideos {
  display: flex;
  padding-left: 25px;
  width: 100%;
}
.Objectives {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid white;
  width: 45%;
  padding: 12px;
  max-width: 1000px;
  margin-bottom: 20px;
}
.Instructions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid white;
  width: 45%;
  padding: 12px;
  max-width: 1000px;
  margin-bottom: 20px;
}

.ContObjecInst {
  display: flex;

  justify-content: space-between;
  border: 1px solid white;
  width: 90%;
  padding: 12px;
  max-width: 1000px;
  margin-bottom: 20px;
}

.courseContentAndPlusButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.addBtn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.addBtn:hover{
    rotate: 180deg;
}

.addSectionDiv {
  width: 50%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.addSectionDiv > span {
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.addSectionDiv > input {
  width: 200px;
  border-radius: 10px;
  height: 30px;
  padding-left: 10px;
  font-size: 20px;
}
.addSectionBtnsDiv > button {
  width: 120px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
  align-self: flex-end;
  justify-self: flex-end;
  color: white;
}
.addSectionBtnsDiv {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  width: 40%;
  column-gap: 20px;
}

.sectionHeader {
  display: flex;
  width: 100%;
  align-items: center;
}
.sectionHeader > h3 {
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}
.sectionHeader>h4{
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sectionHeader>h4:hover{
    rotate: 180deg;
}


/* .arrow {
    
    
    transition: transform 0.3s ease-in-out;
  }
  
  .arrow:active {
    transform: rotate(180deg);
  } */
