.courseParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color:  #262626;
  color: white;
  min-height: 100vh;
}

.LeftRight {
  row-gap: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1500px;
  margin-top: 60px;
  align-items: center;
}
.LeftInfo {
  width: 90%;
  max-width: 1000px;
  border: 1px solid white;
  padding: 12px;
  background-color: #484848;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles for the left info container */
/* .LeftInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
} */

/* Styles for the course name */
.NameCourse {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

/* Styles for the brief description */
.briefCourse {
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
}

/* Styles for the price */
.LeftInfo h2 {
  margin: 10px 0;
  font-size: 24px;
  font-weight: bold;
  color: #f44336;
  text-align: center;
}

/* Styles for the buy now button */
.LeftInfo button {
  width: 25%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  background-color: #f44336;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Styles for the buy now button hover state */
.LeftInfo button:hover {
  background-color: #ff6659;
}







.RightVideo {
  width: 90%;
  max-width: 1000px;
  display: flex;
  border: 1px solid white;
  padding: 12px;
  justify-content: space-evenly;
  background-color: #484848;
}
/* .RightVideo>video{
    width: 100%;
} */
.headInfo {
  font-weight: bold;
}
.BottomRightInfo {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.BottomRightInfo > p {
  margin: 0;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
/* .LeftInfo > button {
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  height: 60px;
  background-color: transparent;
  color: white;

  border-radius: 5px;
  border: 1px solid white;
  transition: all .3s ease;
} */
/* .LeftInfo > button:hover {
  background-color: #fff;
  color: black;
  width: 220px;
  font-size: 24px;
  height: 80px;
} */

.courseDetailesVideoDiv {
  width: 50%;
}

.courseDetailsCourseContentDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid white;
  width: 90%;
  padding: 12px;
  max-width: 1000px;
  margin-bottom: 20px;
  background-color: #484848;
}
.courseDetailsCourseContentDiv > h1 {
  margin: 10px 0 10px 0px;
  padding-left: 10px;
}
.courseDetailsSectionsContainer > h3 {
  cursor: pointer;
}
.LinkVideoSection {
  color: white;
  padding: 5px;
}
.LinkVideoSection span{
  padding: 5px;
  transition: all 0.3s ease;
}
.LinkVideoSection span:hover {
  /* background-color: #d1d7dc; */
  padding: 10px;
  cursor: pointer;
}
.QuizTitle{
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
.QuizTitle:hover{
  cursor: pointer;
}

.courseDetailsSectionVideos {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  display: flex;
  padding-left: 25px;
  transition: all 0.3s ease;
}

.courseDetailsSectionVideos > a {
  text-decoration: none;
  font-size: 20px;
  width: 95%;
}
.Video {
  width: 100%;
  height: 100%;
}
.courseDetailsSectionsContainer > h3 {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin: 7px 15px;
}

.courseDetailsSectionsContainer {
  border-top: 1px solid #d1d7dc;
}

.ContSections {
  width: 100%;
}
.courseDetailsSectionVideos {
  display: flex;
  padding-left: 25px;
  width: 100%;
}
.Objectives {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid white;
  width: 45%;
  padding: 12px;
  max-width: 1000px;
  margin-bottom: 20px;
}
.Instructions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid white;
  width: 45%;
  padding: 12px;
  max-width: 1000px;
  margin-bottom: 20px;
}
.videoW{
  width: 100%;
}
.ContObjecInst {
  display: flex;
  background-color: #484848;

  justify-content: space-between;
  border: 1px solid white;
  width: 90%;
  padding: 12px;
  max-width: 1000px;
  margin-bottom: 20px;
}

.courseContentAndPlusButton {
  display: flex;
  
  align-items: center;
  width: 100%;
}

.addBtn {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #079707;
}

.addBtn:hover{
    /* rotate: 180deg; */
     width: 35px;
  height: 35px;
}
.delBtn{
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 0.5s ease;
  color:#a10606;
}
.delBtn:hover{
    /* rotate: 360deg; */
    width: 35px;
  height: 35px;
}

.addSectionDiv {
  width: 50%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.addSectionDiv > span {
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.addSectionDiv > input {
  width: 200px;
  border-radius: 10px;
  height: 30px;
  padding-left: 10px;
  font-size: 20px;
}
.addSectionBtnsDiv > button {
  width: 120px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
  align-self: flex-end;
  justify-self: flex-end;
  color: white;
}
.addSectionBtnsDiv {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  width: 40%;
  column-gap: 20px;
}
.contVideoInfo{

  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
}
.sectionHeader {
  display: flex;
  width: 100%;
  align-items: center;
  
}
.sectionHeader .plusIcon{
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sectionHeader .plusIcon:hover{
  /* rotate: 180deg; */
  width: 35px;
  height: 35px;
}

.sectionHeader > h3 {
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}
.sectionHeader>h4{
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sectionHeader>h4:hover{
    rotate: 180deg;
}
.InputUpload{
  width: 40%;
  display: flex;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #ebebeb;
}
.cancelbtn{
  background-color: rgb(206, 8, 8);

}
.btnUpload:hover{
  background-color: rgb(142, 142, 142)

}
.btnUpload{
  width: 40%;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding: 4px;
  border-radius: 5px;
  /* border: none; */
  background-color: #ffffff;

}
.ChooseAndCancel{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:15px;
}
.ChooseAndCancel button{
  display: flex;
  padding: 5px 12px;
  border-radius: 7px;
  color: white;
  /* border: none; */
}
#video-upload{
  border: none;

}
.ChooseAndCancel{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contVideoInfo{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
}
.uploadVideoContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  background-color: white;
  border-radius: 10px;
  padding: 20px ;
}

.deleteCourseDiv{
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: white;
  border-radius: 10px;
  color: black;
  align-items: center;
  padding: 20px;

}
.deleteCourseDiv>h1{
  margin: 0;
}
.deleteCourseDiv>div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.deleteCourseDiv>div>button{
  width: 120px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
  align-self: flex-end;
  justify-self: flex-end;
  color: white;
}

.sectionIcons{
  display: flex;
  align-items: center;
  margin-left: auto;
  column-gap: 20px;
}