.CardInAllIdeasInIdea{
    display: flex;
    min-width: 370px;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    transition: transform 0.3s ease;
    gap: 30px;
    border-top: 15px solid var(--darkgreen-color) !important;
    border: 1px solid var(--darkgreen-color);
}

.rejectReq{

}
.rejectReq{
    border: 1px solid red;
    background-color: transparent;
    color: red;
    padding: 4px;
    transition: 0.5s;
  }
  .rejectReq:hover{
  background-color: red;
  color: white;
  }
  .acceptReq{
    border: 1px solid var(--darkgreen-color);
    background-color: transparent;
    color: #05b1c7;
    padding: 4px;
    transition: 0.5s;
  }
  .acceptReq:hover{
  background: linear-gradient(#05b1c7, #16ccbc);
  color: white;
  }

  .contButtonsInIdea{
    display: flex;
    justify-content: center;
    gap: 15px;
  }
.InputChat:focus{
    outline: none;
}
  .InputChat{
    border-top: none;
    border-right: 2px solid var(--darkgreen-color);
    border-bottom: none;
    border-left: none;
    border-image: initial;
    width: 85%;
    border-radius: 20px 0px 0px 20px;
    padding: 10px;
    font-size: 1.2rem;
  }

  .DivContChatIcon{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .ContAllDataWithInput{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 430px;
    justify-content: space-between;}

    .spanChat{
      /* background-color: var(--darkgreen-color);
      padding: 12px; */
      /* border-radius: 5px 5px 15px 0px; */
      max-width: 300px;
      font-size: 18px;
    }
    .spanChat1{
      /* background-color: var(--darkgreen-color);
      padding: 12px; */
      /* border-radius: 5px 5px 0px 15px; */
      max-width: 300px;
      font-size: 18px;
    }
    .borderR{
            border-radius: 5px 5px 15px 0px;
    }
    .borderR1{
            border-radius: 5px 5px 0px 15px;

    }

    .shape5{
          /* position: absolute; */
    /* height: 1000px; */
    /* width: 1000px; */
    /* background-color: aqua; */
    /* top: 50%; */
    /* left: 50%; */
    background-color: #efefef;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;}